html {
    overflow-y: hidden;
}

.flex-container {
    display: flex;

    &.column {
        flex-direction: column;
    }
    .flex1, .flex0 {
        display: flex;
        flex: 1;
    }

    .flex0 {
        flex: 0;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

