.main-nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: 2s;
    display: flex;
    flex-direction: row;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(247,247,247,1);
    
    :hover {
        background-color: #eee;
        color: #333;
        transition-delay: 0s;
    }
}